.theme{
    background: #fff9c4;
}
.theme.hover {
    background: #b5b49e;
}
.title{
    background: red;
}


.checkbox-right{
    margin-left: 100px;
}

.quotes{
    height: 50px;
    animation: move 1s ;
    animation-iteration-count: 1;
}
.todo-text:hover{
    animation: select 1s ;
}

@keyframes select {
    100% {
        transform: translateX(10px);
    }
}

@keyframes move {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
